#main {
    padding-top: 60px;
}

#jumbotron {
    background-color: #f8f8f8;
}

#lead {
    text-align: left;
}

#jumbotron a {
    width: 200px;
}

.home-widget {
    overflow-y: scroll;
    height: 800px;
}

#push {
    height: 60px;
}

#add-this {
    height: 25px;
    margin-bottom: 20px;
}

footer div {
    border-top: 1px solid #eee;
    padding-top: 10px;
}

.cover {
    display: block;
    margin: 0 auto;
}

.books-row, .videos-row {
    margin-bottom: 20px;
}

.books-row div, .videos-row div {
    margin-top: 10px;
}

.thumb {
    height: 120px;
    display: block;
    margin: 0 auto;
    max-width: 210px;
}

.col-lg-4 h3 {
    text-align: center;
}

#signin {
    max-width: 300px;
    margin: 0 auto;
}

/* Twitter widget styles */
.avatar {
    float: left;
    margin-right: 10px;
    border-radius: 5px;
    height: 48px;
    width: 48px;
}

.profile-link:hover {
    text-decoration: none;
}

.tweet-actions {
    visibility: hidden;
}

/*----------*/

/* Sticky footer styles http://getbootstrap.com/examples/sticky-footer-navbar/ */

html,
body {
    height: 100%;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

#footer {
    height: 60px;
    background-color: #f5f5f5;
}

/*----------*/