/*#main {
    padding-top: 60px;
}

#jumbotron {
    background-color: #f8f8f8;
}

#lead {
    text-align: left;
}

#jumbotron a {
    width: 200px;
}

.home-widget {
    overflow-y: scroll;
    height: 800px;
}

#push {
    height: 60px;
}

footer div {
    border-top: 1px solid #eee;
    padding-top: 20px;
}

.cover {
    display: block;
    margin: 0 auto;
}

.books-row, .videos-row {
    margin-bottom: 20px;
}

.books-row div, .videos-row div {
    margin-top: 10px;
}

.thumb {
    height: 120px;
    display: block;
    margin: 0 auto;
    max-width: 210px;
}

.col-lg-4 h3 {
    text-align: center;
}

#signin {
    max-width: 300px;
    margin: 0 auto;
}

.avatar {
    float: left;
    margin-right: 10px;
    border-radius: 5px;
    height: 48px;
    width: 48px;
}

.profile-link:hover {
    text-decoration: none;
}

.tweet-actions {
    visibility: hidden;
}*/

/* Sticky footer styles http://getbootstrap.com/examples/sticky-footer-navbar/ */

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    /*position: relative;*/
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}

    /* Footer */

    #footer > .container > p {
        padding-top: 20px;
    }

/* Common */
#main {
    padding-top: 100px;
    /*position: relative;*/
}

.jumbotron {
    background-color: white;
    text-align: center;
    padding-bottom: 5px;
}

#push {
    height: 60px;
}

/* Home */
.media:first-child {
    margin-top: 15px;
}

.avatar {
    border-radius: 3px;
    width: 48px;
    height: 48px;
}

.affix {
    position: fixed;
    top: 80px;
    /*width:225px;*/
}

.anchor {
    padding-top: 70px;
    margin-top: -70px;
    min-height: 1000px;
}

.data-row {
    margin-bottom: 15px;
}

#sidebar > .nav > .active > a, #sidebar > .nav > .active:hover > a, #sidebar > .nav > .active:focus > a {
    padding-left: 18px;
    font-weight: 700;
    /*color: #563d7c;*/
    color: #337ab7;
    background-color: transparent;
    border-left: 2px solid #337ab7;
}

#sidebar > .nav > li > a {
    display: block;
    padding: 4px 20px;
    font-size: 13px;
    font-weight: 500;
    color: #999;
}

#sidebar .nav > li > a:hover, #sidebar .nav > li > a:focus {
    padding-left: 19px;
    /*color: #563d7c;*/
    color: #337ab7;
    text-decoration: none;
    background-color: transparent;
    border-left: 1px solid #337ab7;
}

.label {
    margin-right: 5px;
    display: inline-block;
}

.progress {
    width: 30%;
    position: fixed;
    top: 60px;
    left: 35%;
}

#progress-bar {
    padding: 5px;
    background-color: ghostwhite;
}

.list-group {
    max-width: 75%;
}

.tweet-actions {
    visibility: hidden;
    text-align: right;
}

.list-group-item p {
    word-break: break-all;
}

/* Books */
.books-row {
    margin-bottom: 20px;
}

    .books-row div {
        margin-top: 10px;
    }

.cover {
    display: block;
    margin: 0 auto;
    max-height: 220px;
}

/* Videos */
.videos-row {
    margin-bottom: 20px;
}

    .videos-row div {
        margin-top: 10px;
    }

.thumb {
    max-height: 120px;
    display: block;
    margin: 0 auto;
    max-width: 210px;
}

.thumbnail {
    border: none;
}

/* Login */
#signin {
    max-width: 300px;
    margin: 0 auto;
}