<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="LinqToTwitterPcl" publicKeyToken="957107be965c25d9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.986" newVersion="3.0.1.986" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.18.0" newVersion="4.2.18.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>