body
{
    padding-top: 40px;
}

#forkme
{
    position: absolute;
    top: 40px;
    right: 0;
    border: 0;    
}

.avatar
{
    float: left;
    margin-right: 10px;
    border-radius: 5px;
}

.twitterProfileLink:hover
{
    text-decoration: none;
}

.tweetActions
{
    list-style-type: none;
    visibility: hidden;
}

.tweetAction
{
    float: left;
    margin-right: 5px;
}

.tweet,
.question,
.snippet,
.news-item
{
    margin: 12px 12px 25px 12px;
    border-bottom: 1px solid lightgrey;
}

.loadMore
{
    visibility: hidden;
    width: 80%;
    margin-left: 10%;
}

#fsharpTweets,
#fsharpQuestions,
#fsharpSnippets
{
    height:600px;
    overflow-y:scroll;
}

#tweetsList,
#questionsList,
#snippetsList
{
    list-style-type: none;         
}

#alertDiv
{
    width: 40%;
    margin-left: 30%;
    display:none;
}

.cover
{
    height: 220px;
}

.videoThumb
{
    height: 120px;
}

#forkme {
    position: absolute;
    top: 40px;
    right: 0;
    border: 0;    
}

#definition {
    margin-top: 20px;
    text-align: justify;
}

#hero {
    background-color: white;
}

#login, #admin, #books-admin, #videos-admin, #news-admin {
    margin-top: 50px;
}

.home-btn {
    width: 150px;
}